<nav class="navbar navbar-inverse">
    <h3 style="color:white ;display: inline-block;"><span class="glyphicon glyphicon-chevron-right"></span> BNY MELLON | <b>NEXEN</b></h3>
    <div style="float: right;color: white;">
        connect Links
        <h3 class="glyphicon glyphicon-share span"></h3>
        <h3 class="glyphicon glyphicon-th span"></h3>
        <h3 class="glyphicon glyphicon-earphone span"></h3>
        <h3 class="glyphicon glyphicon-bell span"></h3>
        <h3 class="glyphicon glyphicon-phone span"></h3>
    </div>
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropbtn">Dashboards
                    <span class="caret"></span></a>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </li>
            <li class="dropdown">
                <a class="dropbtn">Accounts
                    <span class="caret"></span></a>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </li>
            <li class="dropdown">
                <a class="dropbtn">Transactions
                    <span class="caret"></span></a>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </li>
            <li class="dropdown">
                <a class="dropbtn">Model ops
                    <span class="caret"></span></a>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </li>
            <li class="dropdown">
                <a class="dropbtn">Resources
                    <span class="caret"></span></a>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </li>
            <li class="dropdown">
                <a class="dropbtn">Communications
                    <span class="caret"></span></a>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </li>
            <li class="dropdown">
                <a class="dropbtn">Admin
                    <span class="caret"></span></a>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </li>
        </ul>
    </div>
</nav>